.title__container {
  color: var(--color-bg-light);
  background-color: var(--color-primary);
  padding: var(--small-sp) var(--medium-sp);
}

.title {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
}

.mov__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mov__item {
  display: flex;
  flex-direction: row;

  background-color: var(--color-bg-light);
  border-bottom: 1px solid var(--color-grey);
  padding: var(--small-sp) var(--medium-sp);
}

.mov__date,
.mov__info {
  align-self: flex-start;

  font-size: 0.875rem;
  font-weight: 500;
}

.mov__date {
  flex-basis: 3.75rem;
  margin-right: var(--medium-sp);
}

.credit {
  margin-left: auto;

  font-size: 14px;
  font-weight: 700;
  color: var(--color-secondary);
}

.debit {
  margin-left: auto;

  font-size: 14px;
  font-weight: 700;
  color: var(--color-accent);
}