.card {
  margin-left: var(--medium-sp);
  margin-right: var(--medium-sp);
  padding: var(--big-sp);

  background-color: var(--color-bg-light);
  border: 1px solid var(--color-grey);
  box-sizing: border-box;
  box-shadow: var(--shadows);
  border-radius: .5rem;
}

.title,
.balance {
  text-align: center;
}

.title {
  font-size: .75rem;
  font-weight: 700;
}

.balance {
  font-size: 2rem;
  font-weight: 700;
}

.horizontal_line {
  margin: var(--medium-sp) 0;
  border: 1px solid var(--color-grey);
  background: var(--color-grey);
}

.cvu_container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  font-size: .875rem;
  font-weight: 500;
}

.btn {
  font-family: inherit;
  font-size: .875rem;
  font-weight: 700;
  color: #442E83;

  background-color: transparent;
  text-decoration: none;
  border: none;

  transition: all 0.25s ease-in;
  cursor: pointer;
}

/* .btn:focus {
  border: 1px solid var(--color-accent)
}

.btn:active {
  border: none;
} */