.container {
  background-color: var(--color-bg);
  height: inherit;
}

.title {
  padding: var(--big-sp);

  text-align: center;
  text-transform: capitalize;
  font-size: 1.125rem;
  font-weight: 700;
}